.list {
    display: flex;
    flex-wrap: wrap;
    &__img {
        width: var(--width-item);
        height: 280px;
        object-fit: cover;
    }
    &__title {
        font-size: 18px;
    }
    &__item {
        width: var(--width-item);
        margin: 0 10px;
    }
    &__item  :global(a){
        text-align: center;
        color: var(--color-text-main);
    }
}