/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
//////////////////// end reset CSS

:root {
	--color-1: #1E1E1E;
	--color-backgrouds: #121212;
	--color-text-main: #F5F5F5;
	--color-gray: #A0A0A0;
	--color-3: #252525;
	--color-4: #666666;
	--color-5: #202020;
	--color-dark: rgba(34, 60, 80, 0.6);

	--font-famaly-logo: "Cinzel", serif;
	--font-family-main: "Poppins", sans-serif;
	--font-size-16: 16px;
	--font-size-back: 20px;
	--font-size-title: 30px;
	--font-size-logo: 35px;

	--border-radius-max: 50px;
	--border-radius-average: 30px;
	--border-radius-min: 10px;

	--padding-min: 10px;

	--margin-min: 5px;
	--margin-average: 20px;

	--text-indent: 30px;

	--width-100pr: 100%;
	--width-max: 1085px;
	--width-item: 250px;
	--width-img-1x1: 20px;

	--text-shadow: 0px 0px 5px rgba(255, 255, 255, 1), 
		0px 0px 10px rgba(255, 255, 255, 1), 
		0px 0px 15px rgba(255, 255, 255, 1),
		0px 0px 20px rgb(91, 152, 251),
		0px 0px 30px rgb(91, 152, 251),
		0px 0px 40px rgb(91, 152, 251),
		0px 0px 55px rgb(91, 152, 251),
		0px 0px 75px rgb(91, 152, 251);

	--text-shadow-dark: 0px 0px 5px rgba(255, 255, 255, 1), 
		0px 0px 10px rgba(255, 255, 255, 1), 
		0px 0px 15px rgba(255, 255, 255, 1),
		0px 0px 20px rgba(34, 60, 80, 0.6),
		0px 0px 30px rgba(34, 60, 80, 0.6),
		0px 0px 40px rgba(34, 60, 80, 0.6),
		0px 0px 55px rgba(34, 60, 80, 0.6),
		0px 0px 75px rgba(34, 60, 80, 0.6);

	--box-shadow-main: 0px 3px 7px 4px rgba(34, 60, 80, 0.6) inset;
	--box-shadow-main-shadow: 0px 3px 7px 4px rgba(34, 60, 80, 0.8) inset;

	--transition-main: .4s;
}


@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
	color: var(--color-text-main);
	height: 100%;
	background: var(--color-backgrouds);
	font-family: var(--font-family-main);
}

.wrapper {
	min-height: 100%;
	width: var(--width-max);
	margin: 0 auto;
}