:root {
    --color-text-main: #F5F5F5;
    --color-4: #666666; 
    --color-5: #202020;

    --border-radius-max: 50px;

    --box-shadow-main: 0px 3px 7px 4px rgba(34, 60, 80, 0.6) inset;
    --box-shadow-main-shadow: 0px 3px 7px 4px rgba(34, 60, 80, 0.8) inset;

    --transition-main: .4s;
}